- var title = "Reykjavík Chautauqua"
- var subtitle = "Institute of Lower Learning"

doctype html
html(lang="en")
  head
    block title
      title title

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, maximum-scale=1")

    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="apple-touch-icon", href="/apple-touch-icon.png")

  body
    header.second-main-header
      block main-header
        block main-header-h1
          h1 title
        h2
          a(href="/")= title

    block main