doctype html
html(lang="en")
  head
    title Chantal and Rúnar
  body
    h1 Chantal and Rúnar’s Company for Public Debate
    ul
      each theme in themes
        li
          a(href=theme.url)= theme.name