doctype html
html(lang="en")
  head
    title Chantal and Rúnar
  body
    h1 Chantal and Rúnar’s Social Club
    article.about
      :markdown
        Welcome to our social club! We are excited to precent the next
        phase of our cinema. This time around we would like to
        transcend beyond entertainment. Our cinema will be just one
        dimension of our new social forum.  A while back we had an
        idea about having some guided discussion group about various
        topics that could include different events. Something like a
        book-club, but not necessarily book, and perhaps a bit cooler.
        Our website will be the platform for that forum and
        participation is highly recommended!  Each month will have a
        different topic that we’ll post on, and have relevant film
        screening. The success of our “social club” relies heavily on
        the participation and comments of others, and the the
        diversity of perspectives, otherwise it will just be us
        ranting on a blog...  Our goal isn’t political, or necessarily
        intelectual, we just want to have fun, while learning and
        exploring some things that we find interesting, and we welcome
        you to join us.
        
        Chantal and Rúnar.
    ul
      each theme in themes
        li
          a(href=theme.url)= theme.name