doctype html
html(lang="en")
  head
    title Chantal and Rúnar
  body
    h1 Chantal and Rúnar’s Social Club
    article
      include:markdown introduction.md
    ul
      each theme in themes
        li
          a(href=theme.url)= theme.name