extends basic.jade

block title
  title Reykjavík Chautauqua — 404

block main-header-h1
  h1 Not Found

block main
  section.not-found
    :md
      404 — No such page
      ------------------

      Sorry, there seems to be some sort of misunderstanding...

      Perhaps you were hoping for a topic we haven’t covered yet.
      That’s *awesome*. Send us an
      [e-mail](mailto:reykjavik.chautauqua@gmail.com) and we’ll
      most likely include it for the next years program ☺.

      [Return to front page](/)
