themes = {
  indigenous-people: #DEB1C1,
  eames: #A9CCE4,
  the-food-we-eat: #C3EFE9,
  mechanization: #CDA2EF,
  society: orange,
  transportation-and-communication: #FFFB1F,
  urban-development: #FF4747,
  communism: #2AD89A,
  independent-people: #FF96FF,
  revolution-and-stuff: #D7D900,
  religion: pink,
  alternative-history: #2AD89A,
}