@require '../../node_modules/stylus-normalize/normalize'
@require './common/themes'


a[href]
  text-decoration: none

header
  font-size: 1.2em
  
  h1
    margin: 2em .5em
    text-align: center

  .introduction
    max-width: 38em
    margin: .5em auto

.theme-nav
  font-size: 1.2em
  h2
    text-align: center
  ul
    justify-content: center
    margin: 0
    padding: 0
    overflow-x: scroll
    white-space: nowrap
  li
    display: inline-block
    font-size: 2em
    height: 310px
    list-style: none
    margin: 0
    overflow: hidden
    text-align: center
    width: 500px
    white-space: normal

    for theme in themes
      &.{theme}
        background: url(/ + pathjoin('img', 'themes', theme) + '.jpeg')

    a
      background: rgba(255,255,255,0.5)
      color: inherit
      display: flex
      flex-direction: column
      justify-content: space-between
      height: 100%
      width: 100%
      p
        margin: 0.25em 0.85em
        padding: 0.125em 0
        text-shadow: 1px 1px white

    &.focus a
      background: none
      p
        text-shadow: 3px 3px white
