@require '../../node_modules/stylus-normalize/normalize'
@require 'index'
@require './fonts'


body
  background: #C6A575
  color: #1B1C18
  font-family: "Crimson Text", georgia, serifs

h1, h2, h3
  color: #302B22
  font-family: "Vollkorn", georgia, serifs

a[href]
  text-decoration: none

header
  // background: url("/img/chautauqua-header.jpeg")
  background-repeat: no-repeat
  background-size: 100%
  font-size: 1.2em
  
  h1
    border: 2px solid #1B1C18
    border-bottom: none
    margin: 3em 1.5rem 0
    padding-top: .75em
    text-align: center
    text-transform: uppercase
    &::after
      content: ""
      border-bottom: 4px double #1B1C18
      display: block
      padding-top: .45em
      margin: 0 auto
      width: 90%

  h2
    border: 2px solid #1B1C18
    border-top: none
    margin: 0 1.5rem 2em
    padding-bottom: .5em
    text-align: center

  .introduction
    max-width: 38em
    margin: .5em auto

.theme-nav
  font-size: 1.2em
  h2
    text-align: center
  ul
    justify-content: center
    margin: 0
    padding: 0
    overflow-x: scroll
    white-space: nowrap
  li
    display: inline-block
    font-size: 2em
    height: 310px
    list-style: none
    margin: 0
    overflow: hidden
    text-align: center
    width: 500px
    white-space: normal

    for theme in themes
      &.{theme}
        background: url(/ + pathjoin('img', 'themes', theme) + '.jpeg')

    a
      background: rgba(255,166,166,0.2)
      color: inherit
      display: flex
      flex-direction: column
      font-family: "Vollkorn"
      font-weight: bold
      justify-content: space-between
      height: 100%
      width: 100%
      p
        margin: 0.25em 0.85em
        padding: 0.125em 0
        text-shadow: 1px 1px white

    &.focus a
      background: none
      p
        text-shadow: 2px 2px white
