@require '../../node_modules/stylus-normalize/normalize'
@require 'index'
@require './fonts'


body-background = #F0E7DB

body
  background: body-background
  color: #1B1C18
  font-family: "Crimson Text", georgia, serifs
  padding-bottom: 10em

h1, h2, h3
  color: #302B22
  font-family: "Vollkorn", georgia, serifs

a[href]
  border-bottom: 1px dotted #302B22
  color: lightness(#302B22, 22%)
  text-decoration: none
  &:hover
    color: lightness(#302B22, 40%)
    border-color: @color

header
  background-repeat: no-repeat
  background-size: 100%
  font-size: 1.5em

  h1, h2
    border-width: 4px
    border-style: solid
    border-color: #302B22
    border-image: url(/img/main-borders.svg) 23.5% / 8 stretch

  h1
    border-bottom: 0
    margin: 1.5em 1.5rem 0
    padding-top: .75em
    text-align: center
    text-transform: uppercase
    &::after
      content: ""
      border-bottom: 4px double #1B1C18
      display: block
      padding-top: .70em
      margin: 0 auto
      width: 90%

  h2
    border-top: 0
    margin: 0 1.5rem 2em
    padding: 1em 0 .85em
    text-align: center

  .introduction
    max-width: 38em
    margin: .5em auto

  .heading-picture
    background: url("/img/chautauqua-header.jpeg")
    background-repeat: no-repeat
    border: 4px double #1B1C18
    display: block
    margin: 0 auto 2em
    width: 750px
    height: 332px

.theme-nav
  border-width: 4px
  border-style: solid
  border-color: #302B22
  border-image: url(/img/main-borders.svg) 23.5% / 8
  font-size: 1.25em
  margin: 4em 1.5rem 0
  padding 0 4px 2em
  overflow-y: hidden
  h2
    color: #302B22
    font-size: 1.6em
    margin: .4em auto
    position: relative
    text-align: center
    &::before,
    &::after
      background: body-background
      display: inline-block
      line-height: 310px
      height: 310px
      pointer-events: none
      position: absolute
      padding: 0 .4em
      top 1.075em
      font-size: 1.5em
    &::before
      content: "«"
      left: 0
      padding-right: 0.6em
    &::after
      content: "»"
      right: 0
      padding-left: 0.6em

  ul
    justify-content: center
    margin: 0 0 -55px           // Hiding the scroll-bar
    padding: 0 0 55px
    overflow-x: auto
    white-space: nowrap
  li
    display: inline-block
    font-size: 2em
    height: 310px
    list-style: none
    margin: 0
    padding: 0
    overflow: hidden
    text-align: center
    width: 500px
    white-space: normal

    for theme, color in themes
      &.{theme}
        background: url(/ + pathjoin('img', 'themes', theme) + '.jpeg')
        &.focus a p
          color: color

    a
      background: rgba(255,166,166,0.2)
      color: inherit
      display: flex
      flex-direction: column
      font-family: "Vollkorn"
      font-weight: bold
      justify-content: space-between
      height: 100%
      width: 100%
      &:hover
        color: inherit
      p
        margin: 0.25em 0.85em
        padding: 0.125em 0

    &.focus a
      background: none
      p
        text-shadow: 1px 1px black
