@require '../../node_modules/stylus-normalize/normalize'
@require './common/themes'

a[href]
  text-decoration: none

.main-header
  h1, h2
    text-align: center

article,
.intro
  font-size: 1.2em
  margin: 1em auto
  width: 38em

.posts
  margin: 4em 0
  
  & > h2
    display: none

.post,
.preview
  header
    margin: 1em 0 .1em
    h2
      margin: 0
  footer
    margin: .1em 0 1em
    text-indent: 2em

  img
    max-width: 100%

input[type="checkbox"][rel="dropdown"]
  display: none
input[type="checkbox"][rel="dropdown"] + label + section
  display: none
input[type="checkbox"][rel="dropdown"]:checked + label + section
  display: block

label[for^="dropdown"]
  border: 1px solid black
  border-radius: 1em
  cursor: pointer
  display: block
  margin: 2em auto
  position: relative
  text-align: center
  width: 10em
  &::before
    content: "+"
    font-size: 1.5em
    position: absolute
    left: .25em
    top: -.175em
input[type="checkbox"][rel="dropdown"]:checked + label::before
  content: "–"
  top: -.25em

.comments
  margin: 0 5em 2em

.new-post
  textarea,
  input
    display: block
    font-size: 1.2em
    margin: .1em auto
    width: 38em

  textarea
    height: 12em

.theme-nav
  ul
    display: flex
    padding: 0
    margin: 0

    li
      list-style: none
      flex-grow: 1
      text-align: center
      width: 100px
      transition: flex-grow 0.3s, width 0.3s

      for theme in themes
        &.{theme}
          background: url(/ + pathjoin('img', 'themes', theme) + '.jpeg')

      &:hover
        flex-grow: 5
        width: 500px
        a
          visibility: visible

      a
        color: inherit
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%
        visibility: hidden

        p
          text-shadow: 1px 1px white