@require 'index'
@require './defaults'


article-width = 38em


@require 'snippets/second-main-header'

.second-main-header::after
  content: ""
  background-repeat: no-repeat
  border 4px double font-color-light
  display: block
  margin: 0 auto
  width: 500px
  height: 310px
  @media screen and (max-width: 500px)
    border: 0
    width: 98%
    height: 0
    padding-bottom: 62%

for theme, color in themes
  .second-main-header.{theme}::after
    background: url(/ + pathjoin('img', 'themes', theme) + '.jpeg')

article,
.intro
  font-size: 1.2em
  margin: 1em auto
  padding: 1em
  width: article-width
  max-width: 90%

.intro
  margin-top: 1em
  padding-top: 0

.posts
  margin: 2em 0

  h2
    text-align: center

  .toc
    font-size: 1.2em
    width: article-width
    max-width: 90%
    margin: .5em auto
    a
      color: font-color-dark
      display: flex
      justify-content: space-between
      &:hover
        color: font-color-light
      span
        background: body-background
        display: inline-block
        margin: .3em 0 -.3em
      &:hover .title
        color: lightness(font-color-light, 30%)
    ul
      padding 0 3em
    li
      list-style: none
      .title
        font-style: italic
    li.new-post
      margin-top: 0.5em
      span.title::before
        content: "+"
        font-style: normal
        padding-right: 0.5em

.post,
.preview
  header
    margin: 1em 0 .1em
    h2
      margin: 0
      display: inline-block
    .permalink
      background: url(/img/link-icon.png) no-repeat
      border: 0
      display: none
      margin-top: -.5em
      margin-left: .8em
      opacity: 0.35
      overflow: hidden
      text-indent: 110%
      white-space: nowrap
      width: 21px
      height: 23px
      &:focus
        outline: 0
    &:hover
      .permalink
        display: inline-block
  footer
    margin: .1em 0 1em
    text-indent: 2em

  figure.video
    position: relative
    overflow: hidden
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
    &.vimeo
      padding-bottom: 56.2%
    &.yt
      padding-bottom: 56.25%
    &.nzonscreen
      padding-bottom: 70%
    &.nfbcanada
      padding-bottom: 62%

  img
    max-width: 100%

input[type="checkbox"][rel="dropdown"]
  display: none
input[type="checkbox"][rel="dropdown"] + label + section,
input[type="checkbox"][rel="dropdown"] + label + section + .new-comment
  display: none
input[type="checkbox"][rel="dropdown"]:checked ~ section,
input[type="checkbox"][rel="dropdown"]:checked ~ .new-comment
  display: block

label[for^="dropdown"]
  border 2px solid font-color-light
  border-image: url(/img/main-borders.svg) 23.5% / 8
  color: font-color-light
  cursor: pointer
  display: block
  font-family: "Vollkorn", georgia, serifs
  margin: 2em auto
  position: relative
  text-align: center
  width: 10em
  &::before
    content: "+"
    font-size: 1.5em
    position: absolute
    left: 0.75em
    top: -.25em
input[type="checkbox"][rel="dropdown"]:checked + label::before
  content: "–"
  top: -.25em

.comments > h2
  display: none

.new-comment,
.comments
  margin: 0 3em 2em 2em
  @media screen and (max-width: 640px)
    margin: 0 0.2em 2em 1em
  input:not([type="submit"]),
  textarea
    display: block
    min-height: 1.2em
    width: 100%
  textarea
    height: 8em
  input[type="submit"]
    display: block
    margin: 1em auto

  textarea[name="comment"]
    // Honeypot
    display: none
    
.comment
  font-size: 0.95em
  margin: 2em 0
  padding: 0
  width: 100%
  .author
    margin: 0
    .author-name
      font-weight: bold
      
  p:first-child
    margin-top: 0.25em
  p
    margin: 0.5em 0

.new-post
  textarea,
  input,
  .form-content
    display: block
    font-size: 1.2em
    margin: .1em auto
    width: article-width
    max-width: 90%

  textarea
    height: 12em
    &[name="post"]
      display: none

  .form-content
    display: flex
    align-items: center
    textarea
      flex-grow 1
    .editmenu
      flex-grow 0
      width: 2em
      > ul
        padding: 0
        margin: 0
      > ul > li
        list-style: none
        text-align: center
        width: 39px
        height: 29px
        position: relative
        &.help
          background: url(/img/question-mark.png) no-repeat
          margin-left: 6px
          text-align: left
          .help-container
            background: lightness(body-background, 80%)
            display: none
            font-size: 0.8em
            padding: 1em
            border: 1px solid font-color-light
            position: absolute
            right: 1em
            bottom: 0
            width: 21em
            ul
              padding: 0
          &:hover
            .help-container
              display: block
        button
          background: inherit
          border: 0
          color: font-color-light
          line-height: 1.5em
          padding: .1em 0
          width: 2em
          height: 1.5em
          &.heading2
            font-weight: bold
            text-decoration: underline
          &.heading3
            font-style: italic
          &.strong
            font-weight: bold
          &.em
            font-style: italic
          &.yt, &.vimeo, &.anchor, &.img
            overflow: hidden
            white-space: nowrap
            text-indent: 110%
          &.img
            background: url(/img/picture-icon.png) no-repeat
            width: 24px
            height: 20px
          &.anchor
            background: url(/img/link-icon.png) no-repeat
            width: 21px
            height: 23px
          &.yt
            background: url(/img/youtube-icon.png) no-repeat
            width: 24px
            height: 24px
          &.vimeo
            background: url(/img/vimeo-icon.png) no-repeat
            width: 24px
            height: 24px              


.theme-nav
  ul
    display: flex
    padding: 0
    margin: 0
    @media screen and (max-width: 800px)
      flex-wrap: wrap

    li
      list-style: none
      flex-grow: 1 
      text-align: center
      height: 160px
      width: 160px
      transition: flex-grow 0.3s, width 0.3s

      for theme, color in themes
        &.{theme}
          background: url(/ + pathjoin('img', 'themes', theme) + '.jpeg')
          a p
            color: color

      &:hover
        flex-grow: 3
        width: 480px
        a
          width: 100%
          p
            font-size: 1em

      @media screen and (max-width: 800px)
        height: 80px
        width: 22%
        &:hover
          flex-grow: 3
          width: 34%

      a
        color: inherit
        display: flex
        flex-direction: column
        font-size: 1.2em
        font-weight: bold
        justify-content: space-between
        width: 0
        height: 100%
        @media screen and (max-width: 800px)
          font-size: 0.8em

        p
          font-size: 0
          text-shadow: 1px 1px black
          transition: font-size 0.3s
