doctype html
html
  head
    meta(charset="utf-8")
    title= theme.name
    link(rel='stylesheet', href='/stylesheets/themes.css')
    
  body
    header
      h1= theme.name
      
    section(id="posts")
      h2 Posts
      each post in posts
        include ./post_layout.jade

    section(id="new-post")
      h2 New Post
      form#new-post-form(action=theme.url + "/new-post", method="POST")
        input(type="text", name="title")
        textarea(name="content")
        input(type="submit", value="submit")

    script(src="/public/scripts/themes.js")