extends ../theme_layout.jade

block stylesheet
  link(rel='stylesheet', href='/stylesheets/themes/indigenous-people.css')

block header
  h2
    a(href="/") Chantal and Rúnar’s Social Club
  h1= theme.name

  section.intro
    include:markdown intro.md